




:root {
    --font-family: 'vazir-digit', 'urbanist', 'vazir', sans-serif;
}

html,
body {
    font-family: var(--font-family);
    height: 100%;
}

/* fonts */
@font-face {
    font-family: "poppins";
    font-weight: 100;
    font-style: normal;
    src: url("./assets/fonts/poppins/Poppins-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "poppins";
    font-weight: 200;
    font-style: normal;
    src: url("./assets/fonts/poppins/Poppins-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "poppins";
    font-weight: 300;
    font-style: normal;
    src: url("./assets/fonts/poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
    font-family: "poppins";
    font-weight: 400;
    font-style: normal;
    src: url("./assets/fonts/poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "poppins";
    font-weight: 500;
    font-style: normal;
    src: url("./assets/fonts/poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "poppins";
    font-weight: 600;
    font-style: normal;
    src: url("./assets/fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "poppins";
    font-weight: 700;
    font-style: normal;
    src: url("./assets/fonts/poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "poppins";
    font-weight: 800;
    font-style: normal;
    src: url("./assets/fonts/poppins/Poppins-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "poppins";
    font-weight: 900;
    font-style: normal;
    src: url("./assets/fonts/poppins/Poppins-Black.ttf") format("truetype");
}


.card-shadow-1 {
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.04);
}
.card-shadow-2 {
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
}

.blur_1 {
    background: rgba( 255, 255, 255, 0.7 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 14px );
}
.blur_2 {
    background: 'transparent';
    backdrop-filter: blur( 14px );
    -webkit-backdrop-filter: blur( 14px );
}

@keyframes scrollX {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.95);
    }
}

/* Adjust these selectors to match the actual data-state values */
[data-state="delayed-open"].tooltip-content {
    animation: fadeIn 0.2s ease-out forwards;
}

[data-state="closed"].tooltip-content {
    animation: fadeOut 0.2s ease-out forwards;
}
