/* src/styles.css */
@import "tailwindcss";
@import './tailwind.css';

* {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.infinite-scroll {
    animation: scroll 20s linear infinite;
}
