/* src/styles.css */
@import "tailwindcss";
@import './tailwind.css';

* {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

