@theme {
    --color-primary-100: #0D41E1 ;

    --color-gray-100: #F6F6F6 ;
    --color-gray-200: #E0E0E0 ;
    --color-gray-300: #6E6E6E;
    --color-gray-500: #F4F4F4;

    --color-dark-100: #212121 ;
}
